button {
    display: inline-block;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #007215;
    text-align: center;
    line-height: 1;
    background: transparent;
    -webkit-appearance: none;
}

@font-face {
    font-family: fonteken;
    src: url("./Fonteken.ttf");
}

* {
    box-sizing: border-box;
}

input[type=text]
{
    border: none;
    color: #007215;
    padding-left: 2vw;
    font-size: 100%;
}

.internal
{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-size: 100%;
    background-attachment:local;
    background-repeat: no-repeat;
    text-align: left;
}

body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    position: relative;
    float: left;
    height: auto;
}

#mainData {
    font-size: 5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #007215;
    text-align: center;

    float: left;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#yaCasiEsta
{
    font-size: 150%;
    position: relative;
    text-align: center;
    width: 86%;
    margin-top: 10%;
    margin-left: 7%;
}

@keyframes girar {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
}

#imgLoad {
    position: absolute;
    top: 50%;
    width: 40%;
    height: auto;
    left: 30%;
  animation-name: girar;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.continueBoton
{
    font-size: 80%;
    color: #fefefe;
    background-color: #007215;
    float: left;
    position: relative;
    border: 1vw solid #007215;
    border-radius: 5vw;
    pointer-events:  auto;
    width: 25%;
    margin-left: 10%;
    margin-right: 65%;
    margin-top: 2vh;
    padding: 2vw;
    text-align: center;
}

.divider
{
    width: 100%; 
    position:relative; 
    float:left;
}

.centerTinier.boton
{
    margin-left: 29%; 
    margin-right: 29%; 
    width: 42%; 
    text-align: center;
}

.imageButton
{
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 20vw;
    float: left;
    position: relative;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    pointer-events: auto;
    height: 30vw;
}

.boton {
    background-color: #fefefe;
    float: left;
    position: relative;
    border: 0.5vw solid #007215;
    border-radius: 5vw;
    pointer-events:  auto;
    width: 74%;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 2vh;
    padding: 2vw;
}

.botonQuiz {
    font-size: 55%;
    text-align: center;
    background-color: #fefefe;
    float: left;
    position: relative;
    border: 0.5vw solid #007215;
    border-radius: 5vw;
    pointer-events:  auto;
    width: 35%;
    margin-top: 2vh;
    padding: 2vw;
}

.mainImg {
    margin-top: 10vw;
    text-align: center;
    float: left;
    position: relative;
    border-radius: 5vw;
    width: 66%;
    margin-left: 17%;
    margin-right: 17%;
    padding: 2vw;
    pointer-events: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vw;
}

.subImg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 3vw;
    text-align: center;
    float: left;
    position: relative;
    border-radius: 5vw;
    width: 20%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 2vw;
    pointer-events: auto;
    height: 20vw;
}

#imagenDetras 
{
    margin-top: 78.5vw;
    text-align: center;
    float: left;
    position: relative;
    border-radius: 5vw;
    width: 33%;
    margin-left: 34vw;
    margin-right: 11%;
    padding: 2vw;
    pointer-events: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vw;
    z-index: -10;
}

.left {
    margin-left: 13%;
    margin-right: 4%;
}
.right {
    margin-right: 13%;
}

#pregunta {
    margin-top: 10%;
    margin-bottom: 0;
    width: 100%;
    float: left;
    position: relative;
    text-align: center;
}

.checkboxLabel 
{
    margin-top: 0.3em;
    display: block;
    float: left;
    position: relative; 
    font-size: 60%;
}

.infoEnter {
    border-color: grey;
}

#nameken {
    font-size: 120%;
    font-family: fonteken, Arial;
    font-weight: normal;
    position: absolute;
    top: 98vw;
    color: white;
    letter-spacing: 0;
    text-align: center;
    width: 100%;
}

#staticReturn
{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 27vw;
    z-index: 10;
}